/经典网络语实战/LeNet/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/经典网络语实战/LeNet/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
/经典网络语实战/LeNet/data/FashionMNIST/raw/train-images-idx3-ubyte
/经典网络语实战/LeNet/data/FashionMNIST/raw/train-labels-idx1-ubyte
